body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
  font-size: 1em;
  background-color:rgb(226, 226, 226);
}

#credits {
  font-style: italic;
  font-size: .75em;
  margin-bottom: 20px;
}

#header-image {
  width: 70%
}

h2 {
  font-family:sans-serif;
}
